/*提交表单网页css样式*/

#submit_success {
    position: relative;

    display: none;

    width: 100%;
    height: 100vh;
}

#submit_success p {
    font-size: 20px;

    position: relative;
    top: 30%;

    margin: 0 auto;

    text-align: center;
}

.center {
    overflow: auto;
}

#forms-top {
    width: 100%;
}

.joinus-right {
    max-width: 1200px;
    margin: 0;
    padding: 0;

    border: 0;
    background: #f0eff5;
}

.jr-title {
    overflow: hidden;

    height: 5rem;
}

#jr-sp1 {
    font-size: 1.8rem;
    line-height: 5rem;

    padding: 0 5%;

    color: #a8a8a8;
}

.info-forms span {
    font-size: 1.6rem;

    display: block;

    padding: .5rem 5% .3rem 5%;

    color: #a8a8a8;
}

.info-forms .info-input {
    font-size: 1.8rem;

    width: 90%;
    height: 5rem;
    padding: 0 5%;

    color: black;
    border: 0;
}

#info-profess,
#info-cls {
    font-size: 1.8rem;

    width: 100%;
    height: 5rem;
    padding: 0 5%;

    color: #757575;
    border: 0;
}

.checkbox {
    width: 100%;

    background: #fff;
}

.checkbox div {
    font-size: 1.8rem;
    line-height: 5rem;

    position: relative;

    width: 90%;
    height: 5rem;
    margin: 0 auto;

    border-bottom: 1px solid #a8a8a8;
}

.checkbox div:last-child {
    border-bottom: 0;
}

.checkbox input {
    width: 2rem;
    height: 5rem;
}

.checkbox label {
    position: absolute;
    top: 50%;
    left: 4rem;

    transform: translateY(-50%);
}

.checkbox img {
    position: absolute;
    bottom: 0;
    left: 5%;

    width: 90%;
}

#info-power {
    font-size: 1.8rem;
    line-height: 3rem;

    width: 90%;
    height: 15rem;
    padding: 0 5%;

    resize: none;

    border: 0;
}

.info-submit {
    position: fixed;
    bottom: 0;

    width: 1200px;
    height: 5rem;
    padding: 0 5%;
}

#info-submit {
    font-size: 1.8rem;

    position: absolute;
    top: 50%;
    left: 60px;

    width: 1080px;
    height: 3.6rem;

    transform: translateY(-50%);

    color: white;
    border: 0;
    border-radius: .5rem;
    background: #ff8532;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type='number'] {
    appearance: none;
    -webkit-appearance: none !important;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

/*移动版适配样式*/
/* 
@media screen and (max-width: 768px)
{
    #forms-top
    {
        width: 100%;
    }
    .info-forms select
    {
        background-color: white;
    }
    .joinus-right
    {
        margin: 0;
        padding: 0;

        border: 0;
        background: #f0eff5;
    }

    .jr-title
    {
        overflow: hidden;

        height: 5rem;
    }

    #jr-sp1
    {
        font-size: 1.8rem;
        line-height: 5rem;

        padding: 0 5%;

        color: #a8a8a8;
    }
    .info-forms span
    {
        font-size: 1.6rem;

        display: block;

        padding: .5rem 5% .3rem 5%;

        color: #a8a8a8;
    }
    .info-forms .info-input
    {
        font-size: 1.8rem;

        width: 90%;
        height: 5rem;
        padding: 0 5%;

        color: black;
        border: 0;
    }

    #infoprofess,
    #infocls
    {
        font-size: 1.8rem;

        width: 100%;
        height: 5rem;
        padding: 0 5%;

        color: #757575;
        border: 0;
    }
    .checkbox
    {
        width: 100%;

        background: #fff;
    }
    .checkbox div
    {
        font-size: 1.8rem;
        line-height: 5rem;

        position: relative;

        width: 90%;
        height: 5rem;
        margin: 0 auto;

        border-bottom: 1px solid #a8a8a8;
    }
    .checkbox div:last-child
    {
        border-bottom: 0;
    }
    .checkbox input
    {
        width: 2rem;
        height: 5rem;
    }
    .checkbox label
    {
        position: absolute;
        top: 50%;
        left: 3rem;

        transform: translateY(-50%);
    }
    .checkbox img
    {
        position: absolute;
        bottom: 0;
        left: 5%;

        width: 90%;
    }

    #info-power
    {
        font-size: 1.8rem;
        line-height: 3rem;

        width: 90%;
        height: 15rem;
        padding: 0 5%;

        resize: none;

        border: 0;
    }
    .info-submit
    {
        width: 100%;
        height: 5rem;
        padding: 0 5%;
    }

    #info-submit
    {
        font-size: 1.8rem;

        position: relative;
        top: 50%;
        left: 0;

        width: 90%;
        height: 3.6rem;

        transform: translateY(-50%);

        color: white;
        border: 0;
        background: #ff8532;
    }
} */