.joinus {
    position: relative;
    /*background-repeat: repeat-y;*/

    overflow: hidden;

    min-width: 1200px;
    height: 650px;
    background: #fff;
}

.severs {
    position: absolute;
    top: 260px;

    width: 1200px;
}

.sever-back {
    width: 150px;
    height: 150px;

    opacity: .2;
    border-radius: 50%;
    background: black;
}

.jl-sever {
    position: relative;

    float: left;

    width: 150px;
    height: 224px;
    margin: 0 75px;
}

.jl-sever .sever-ico {
    position: absolute;
    top: 75px;
    left: 50%;
    width: 151px;
    height: 151px;
    transform: translateX(-50%) translateY(-50%);
}

.jl-sever p {
    font-size: 16px;
    line-height: 20px;

    position: relative;
    top: 16px;

    text-align: center;

    color: black;
}

.jr-title {
    position: absolute;
    top: 50px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    width: 300px;
    height: 100px;
}

#jl-h1 {
    letter-spacing: 15px;
    font-size: 55px;
    margin: 0 0 10px 0;
    color: black;
}

#jl-sp1 {
    font-size: 25px;
    color: rgb(116, 109, 109);
}

/* 
@media screen and (max-width: 768px)
{
    .joinus
    {
        position: relative;

        overflow: hidden;

        min-width: 0;
        height: 480px;

        background: url(../img/joinus-back.png) no-repeat center;
        background-size: cover;
    }

    .severs
    {
        position: relative;
        top: 120px;

        width: 100%;

        transform: scale(.8);
    }

    .sever-back
    {
        position: absolute;
        left: 50%;

        width: 150px;
        height: 150px;

        transform: translateX(-50%) ;

        opacity: .2;
        border-radius: 50%;
        background: black;
    }

    .jl-sever
    {
        position: relative;

        float: left;

        width: 50%;
        height: 224px;
        margin: 0 0;
    }

    .sever-ico
    {
        position: absolute;
        top: 75px;
        left: 50%;

        transform: translateX(-50%) translateY(-50%);
    }

    .jl-sever p
    {
        font-size: 16px;
        line-height: 20px;

        position: relative;
        top: 166px;

        text-align: center;

        color: #fff;
    }

    .jr-title
    {
        font-size: 1.8rem;

        position: absolute;
        top: 30px;
        left: 50%;

        transform: translateX(-50%);

        color: #fff;
    }
} */